*.pyc
gurobi.log
*$py.class
documentation
cobra.egg-info
build/
dist/
.DS_Store
.eggs/
setuptools-*egg
setuptools-*.tar.gz
cobra/solvers/cglpk.c
cobra/solvers/*so
glpk.h
libglpk.a
.idea/
.ipynb_checkpoints
examples/faq.py
documentation_builder/test*\.*
