language: python
sudo: false
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"

git:
  depth: 2

cache:
  pip: true

branches:
  only:
    - master
    - devel
    - /^[0-9]+\.[0-9]+\.[0-9]+[.0-9ab]*$/

env:
  global:
    - GITHUB_REPO=opencobra/cobrapy

matrix:
  fast_finish: true

install:
  - pip install --upgrade pip setuptools wheel tox tox-travis

script:
  - travis_wait tox -- --benchmark-skip --cov-report xml --cov-report term
  - bash <(curl -s https://codecov.io/bash)

stages:
  - test
  - name: deploy
    if: tag IS present

# N.B.: Currently, Travis mangles (escapes) the release tag body badly.
#before_deploy:
#  - source scripts/prepare_notes.sh

jobs:
  include:
    - stage: deploy
      python: "3.6"
      install:
        - pip install --upgrade pip setuptools wheel
      script:
        - echo "Deploying..."
      deploy:
        - provider: pypi
          skip_cleanup: true
          distributions: sdist bdist_wheel
          user: cobrapy
          password: $PYPI_PASSWORD
          on:
            tags: true
            repo: $GITHUB_REPO
        - provider: script
          skip_cleanup: true
          script: scripts/deploy_website.sh
          on:
            tags: true
            repo: $GITHUB_REPO
        - provider: releases
          skip_cleanup: true
          api_key: $GITHUB_TOKEN
          body: "Please see https://github.com/opencobra/cobrapy/tree/${TRAVIS_TAG}/release-notes/${TRAVIS_TAG}.md for the full release notes."
          on:
            tags: true
            repo: $GITHUB_REPO
