language: python
python: 3.5
sudo: required
dist: trusty
services: docker
sudo: required
cache:
  directories:
    - $HOME/.cache/pip
addons:
  apt:
    packages:
      - libfreetype6-dev
      - libpng12-dev

env:
  global:
    - secure: "cZb8f52Ei3Rxr0r7mCkYClk/gMRia3Idi6EO8VvsJKcVwAn3r0hVRnpP3H75hFEFpys4K000CdzhRMQgKF2Se6cmEad2UbyIJa193pHZ9kqPbhK/amEx5F8EO8SuozRGzVM6/IPx19N8RhZxMQuPizcwC3azqgNLxsoMLGAx2oCVVKbHcNZRE/Xwws8Xj7Zj9J6VVf4WyE7PMTniYv8I7fbGrG809b/65fh55b9aDKTfPb7RyPo5I7ZneUEMBh+UL2Hq1lvElAXnQisFOQ1l3Ihre5+p7Pbqa6UVTljbH3912RBi2esslTHzC+wY6zUzu5VRlGhsdkT9DPmO72igMW4Il3Xcf/MQ+S3ZvBKzHmdBgdIV7YyjxiRBtJNujXY4MWVD52kdACujjQXcJaxvNfaqzK8N4w0XUil8VZ6YFBx0TqgoeD4pOwbjUXwY5LrPqx5SSy92o5MpZaHWGZOWhjgcnFgv5JAHK9LenRwq3kEdvoN6efohvxVZwmoh8CgKQu8P0W45B/3cPo10zZcxRkLSQrLJcUAfEUjYZaUZw0m/UGI88Ren63NKveJoZPuh4trb1VwCFz+4JcUx18P/S/XO1fKwY9w8ga88W4IdgDtLkQTiHJ5bKs/Cm9RQPow4HXXc8u6M+V732s4AzS/TiTI7a+QOl6CQGYhJwGQ0Lz0="
    - secure: "MGBObsRUG8vG/QlxnBTgDOA5jzISnQTcVTe45x3LqbndExKmvJPDnOwYVpRUbwtB+VeC3+ED19JEFlyix60DE8pAfqW26DAZanhzMXpW9evkGjKS+3HCMpgpJHFlK/3e2HJcYm4ISvWR7+oWfAb0Qo3LUL18lQ36Mi7CRrLpCvzX4QPY9pLow6VbLWdumfDWSvxay18jzj2fpn6eOTeqiokQpa5nXErjLARQCoLWZiGWfOA0ZnKD6AA7K/XvMss8uekcgz9ArqM/6VDBcA6C/U3snsgZm6VlQYjSde2RdIIhyx3tKPHkm1T9T1h2MFyXX5JGMDziPYxwX7bNlLZ0NjLNsB6AdUuA/V6KVlRgbb7HQvHnONgUjl2lRXkCimFmtKrtPIetV5/Dxu9OYm4GuyByKBeRbMsIFzhIlRWS+Ha35oZyvMRgRt1ttMlJp28yx0F5MAPeMq4V0uxgt5u4Z1C5Snr9WGBDplSx2v+p7hP9Mi8DKjw0PycT2qx4+yRKUjF2AtWbftQmN0sKNwIo6JPNiFDunP49Lk35LsQTQ0T/OxjLZRMfb8uBrp11b9BAj7bCCUBQErI9HUzLXeyLaDLKwBYYtUx5zLJ5sfvcjWiub2FHfwjfCYBi1NqBcWLRgN1lx3vCA7SoUs9SJEQPOgGwyg9bHdjg70m13jMMBPU="
    - PLAT=x86_64
    - UNICODE_WIDTH=32

matrix:
  exclude:
      - python: 3.5
  include:
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.4
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=2.7
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=3.4
    - os: osx
      language: objective-c
      env:
        - MB_PYTHON_VERSION=3.5

before_install:
  - pip install coveralls
  - (git clone https://github.com/matthew-brett/multibuild.git && cd multibuild && git checkout d7ba4ae)
  # matplotlib non-compatible as testing runs in venv (non-framework)
  - TEST_DEPENDS="cython coveralls coverage numpy scipy python-libsbml jsonschema six pandas"
  - BUILD_DEPENDS="cython numpy scipy"
  - source multibuild/common_utils.sh
  - source multibuild/travis_steps.sh
  - before_install

before_cache:
  - set +e

install:
  - build_wheel . $PLAT

script:
  - if [[ $$TRAVIS_OS_NAME == "linux" ]]; then pip install pip --upgrade; pip install matplotlib; fi
  - if [[ $MB_PYTHON_VERSION == "3.5" && $TRAVIS_OS_NAME == "linux" ]]; then pip install pep8 && pep8 cobra --exclude=oven,solvers,sbml.py --show-source; fi
  - install_run $PLAT

deploy:
  provider: script
  skip_cleanup: true
  script: scripts/deploy-test.sh
  on:
    branch: feature/auto-wheel

after_success:
  - coveralls
