language: python
#python:
# - "2.6"
# - "2.7"
# command to install dependencies
virtualenv:
  system_site_packages: true
before_install:
  - sudo apt-get install libglpk-dev python-scipy libgmp-dev
  - wget https://github.com/downloads/aebrahim/cobrapy/libsbml-5.6.0-src.tar.gz
  - tar xzf libsbml-5.6.0-src.tar.gz
  - cd libsbml-5.6.0/; ./configure --with-python; sudo make install; cd ..
install:
  - ln -s /usr/lib/python2.7/dist-packages/scipy ~/virtualenv/python2.7/lib/python2.7/site-packages/
  - pip install glpk 
# # command to run tests
script: python setup.py test
