language: python
#python:
# - "2.6"
# - "2.7"
# command to install dependencies
virtualenv:
  system_site_packages: true
before_install:
  - sudo apt-get install libglpk-dev python-scipy libgmp-dev
  - cd /home/travis
  - wget http://clostridium.ucsd.edu/libSBML-5.9.0_compiled.tar.gz
  - tar xzf libSBML-5.9.0_compiled.tar.gz
  - cd libSBML-5.9.0-Source
  - sudo make install
  - cd $TRAVIS_BUILD_DIR
install:
  - ln -s /usr/lib/python2.7/dist-packages/scipy ~/virtualenv/python2.7/lib/python2.7/site-packages/
  - pip install glpk cython
  - python setup.py develop
# # command to run tests
script: python setup.py test
