branches:
 only:
 - master
 - devel
 - /^[0-9]+\.[0-9]+\.[0-9]+[.0-9ab]*$/

environment:

  global:
    PIP_CACHE_DIR: "pip_cache"
    PIP_DISABLE_PIP_VERSION_CHECK: "yes"

  matrix:
    - PYTHON: "C:\\Python36-x64"
      TOXENV: py36

    - PYTHON: "C:\\Miniconda-x64"
      CONDA: true

    - PYTHON: "C:\\Miniconda36-x64"
      CONDA: true

    - PYTHON: "C:\\Python27-x64"
      TOXENV: py27

matrix:
  fast_finish: true

clone_depth: 2

init:
  - "ECHO %PYTHON%"
  - "set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - python -V

cache:
    - pip_cache -> appveyor.yml


install:
  - ps: |
      if ($env:CONDA -eq "true") {
        conda config --set always_yes yes --set changeps1 no;
        conda config --add channels conda-forge
        conda install -q pip setuptools wheel numpy scipy;
        pip install -qq -r develop-requirements.txt;
        pip install -qq .
      } else {
        pip install -qq --upgrade setuptools wheel tox
      }

build: off

test_script:
  - ps: |
      if ($env:CONDA -eq "true") {
        pytest --benchmark-skip cobra/test
      } else {
        tox
      }
