branches:
 only:
 - master
 - devel
 - /^[0-9]+\.[0-9]+\.[0-9]+[.0-9ab]*$/

environment:

  global:
    PIP_CACHE_DIR: "pip_cache"

  matrix:
    - PYTHON: "C:\\Miniconda-x64"
      PYTHON_VERSION: "2.7.13"
      CONDA: true

    - PYTHON: "C:\\Miniconda35-x64"
      PYTHON_VERSION: "3.5.2"
      CONDA: true

    - PYTHON: "C:\\Miniconda35-x64"
      PYTHON_VERSION: "3.6.0"
      CONDA: true

    - PYTHON: "C:\\Python27-x64"
      TOXENV: py27

    - PYTHON: "C:\\Python34-x64"
      TOXENV: py34

    - PYTHON: "C:\\Python35-x64"
      TOXENV: py35

    - PYTHON: "C:\\Python36-x64"
      TOXENV: py36

matrix:
  fast_finish: true

clone_depth: 2

init:
  - "ECHO %PYTHON%"
  - "set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - python -V

cache:
    - pip_cache -> appveyor.yml


install:
  - ps: |
      if ($env:CONDA -eq "true") {
        conda config --set always_yes yes --set changeps1 no;
        conda install -q pip numpy scipy;
        pip install -r develop-requirements.txt;
        pip install .[matlab,array,sbml]
      } else {
        pip install --upgrade setuptools wheel tox
      }

build: off

test_script:
  - ps: |
      if ($env:CONDA -eq "true") {
        pytest --benchmark-skip cobra/test
      } else {
        tox
      }
